/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BODY PRESET */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0 auto;
    width: 512px;
	max-height: 100vh;
	font-family: "DM Sans", sans-serif;
	color: white;
}


/* Set altezze */

:root {
	--ft-height: 10vh;
}

.main {
	height: calc(100vh - var(--ft-height));
	display: flex;
	position: relative;
	background: black;
	z-index: 1;
}

/* Sidebar */

.sidebar {
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	top: 5px;
	margin: 5px;
}

.server-icons {
	height: 50px;
	aspect-ratio: 1;
	display: flex;
}

/* Message board */

.msg-board {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
    background: #1C1D22;
    max-width: 88%;
	position: absolute;
	right: 0;
	top: 5px;
	border-top-left-radius: 15px;
	height: 100%;
}

.msg-board > div {
	width: 100%;
	margin: 30px 10px 0 20px;
}

.src-container {
    display: flex;
	justify-content: center;
	column-gap: 15px;
	transform: scale(1.2);
}

h1 {
    position: relative;
    font-size: x-large;
    bottom: 10px;
    left: 8px;
}

.src-icon {
    width: 30px;
    aspect-ratio: 1;
    background: #373A43;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 10px;
}

.add-btn {
    width: 280px;
    appearance: none;
    border-radius: 25px;
    border: transparent;
    background: #373A43;
    font-size: 10px;
	color: white;
}

.src-container > * {
	height: 30px;
}

.msg-container {
	display: flex;
	align-items: center;
}

.pfp {
    display: flex;
    height: 40px;
    aspect-ratio: 1;
}

.msg-textbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-left: 8px;
    color: #7a8091;
}

.msg-name {
	flex-basis: 260px;
	font-weight: 700;
}

.msg-time {
	font-size: small;
}

.msg {
	font-size: small;
}

.footer {
	height: var(--ft-height);
	display: flex;
	z-index: 2;
	background: #2D2D35;;
	position: relative;
	justify-content: center;
	column-gap: 30px;
	align-items: center;
}

.foot-btn {
	text-align: center;
	font-size: small;
	width: 100px;
}

.page-icon {
	font-size: 25px;
}

/* Utility */

.circle {
	border-radius: 50%;
}

.piccino {
	height: 25px;
	aspect-ratio: 1;
}
