/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BODY PRESET */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');

body {
    margin: 0 auto;
    width: 512px;
	max-height: 100vh;
	font-family: 'Inter', sans-serif;
}


/* Set altezze */

:root {
	--ft-height: 20vh;
}

.main {
	height: calc(100vh - var(--ft-height));
	display: flex;
	position: relative;
	background: black;
}

/* Sidebar */

.sidebar {
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	top: 5px;
}

.server-icons {
	height: 40px;
	aspect-ratio: 1;
	display: flex;
}

/* Message board */

.msg-board {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
    background: darkslategrey;
    max-width: 85%;
	position: absolute;
	right: 0;
	top: 10px;
	border-top-left-radius: 15px;
	height: 100%;
}

.msg-board > div {
	width: 100%;
}

.src-container {
    display: flex;
}

.src-icon {
    width: 30px;
    aspect-ratio: 1;
    background: #373A43;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 10px;
	color: white
}

.add-btn {
    width: 200px;
    appearance: none;
    border-radius: 25px;
    border: transparent;
    background: #373A43;
    color: white;
    font-size: 10px;
}

.src-container > * {
	height: 30px;
}

.footer {
	height: var(--ft-height);
	display: flex;
}

/* Utility */

.circle {
	border-radius: 50%;
}