/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BODY PRESET */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0 auto;
    width: 512px;
	height: 100vh;
	max-height: 100vh;
	font-family: "DM Sans", sans-serif;
	color: white;
}


/* Set altezze */

:root {
	--ft-height: 10vh;
}

.main {
	height: calc(100vh - var(--ft-height));
	display: flex;
	position: relative;
	background: black;
	z-index: 1;
}

/* Sidebar */

.sidebar {
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	top: 5px;
	margin: 5px;
}

.server-icons {
	height: 50px;
	aspect-ratio: 1;
	display: flex;
}

/* Message board */

.msg-board {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-grow: 1;
    background: #1C1D22;
    max-width: 88%;
	position: absolute;
	right: 0;
	top: 5px;
	border-top-left-radius: 15px;
	height: 100%;
	z-index: -1;
}

.msg-header {
	width: 100%;
	margin: 30px 10px 0 20px;
}

.src-container {
    display: flex;
	justify-content: center;
	column-gap: 15px;
	transform: scale(1.2);
}

h1 {
    position: relative;
    font-size: x-large;
    bottom: 10px;
    left: 8px;
}

.src-icon {
    width: 30px;
    aspect-ratio: 1;
    background: #373A43;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 10px;
}

.add-btn {
    width: 280px;
    appearance: none;
    border-radius: 25px;
    border: transparent;
    background: #373A43;
    font-size: 10px;
	color: white;
}

.src-container > * {
	height: 30px;
}

.msg-container {
	display: flex;
	align-items: center;
}

.pfp {
    display: flex;
    height: 40px;
    aspect-ratio: 1;
}

.msg-textbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-left: 8px;
    color: #7a8091;
}

.msg-name {
	flex-basis: 260px;
	font-weight: 700;
}

.msg-time {
	font-size: small;
}

.msg {
	font-size: small;
}

/* Footer */

.footer {
	height: var(--ft-height);
	display: flex;
	z-index: 2;
	background: #2D2D35;;
	position: relative;
	justify-content: center;
	column-gap: 30px;
	align-items: center;
}

.foot-btn {
	text-align: center;
	font-size: small;
	width: 100px;
}

.page-icon {
	font-size: 25px;
}

/* Utility */

.circle {
	border-radius: 50%;
}

.piccino {
	height: 25px;
	aspect-ratio: 1;
}

/** Bonus **/
/* Scroller */
.msg-scroller {
	display: flex;
	overflow: auto;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 16px;
	height: 80%;
	margin: 0 10px 0 20px;
	position: relative;
	z-index: -2;
}

.container::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Edge */
}

.hide-scrollbar {
  /* 1. Hide for Firefox */
  scrollbar-width: none;

  /* 2. Hide for IE, Edge and Firefox (older versions) */
  -ms-overflow-style: none;
}

/* Francesco bianchi selezionato */

.msg-container {
	position: relative;
	z-index: 0;
}

.msg-container:hover::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 150%;
	background: #26262E;
	z-index: -1;
	border-radius: 15px;
}

.msg-container > *:hover {
	color: white;
}

/* Selezionatore server */

.server-icons:hover::before {
	content: "";
	border-right: 3.5px solid white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.server-icons:hover {
	transform: scale(1.05);
	transition: 0.2s;
}

/* No. Niente pallino colorato. Lo so fare. Non voglio farlo. */

.main::before {
    content: "\F714";
	font-family: "bootstrap-icons";
    position: fixed;
    left: calc(50% + 200px);
    bottom: 11vh;
    height: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: blue;
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: x-large;
}